<!DOCTYPE html>
<html lang="en">

	<head>
		<script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Standards" />
		<link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicons/favicon-32x32.png">
		<title>Shopify SPA Template</title>
	</head>

	<body>
		<script src="https://use.typekit.net/pjq7yfo.js" async="true"></script>

		<script async="true">
			try {
				window.Typekit.load({
					async: true
				})
			} catch (e) {}
		</script>

		<script>
			window.store_identifier = "<%- store_identifier %>"
			window.api_key = "<%- api_key %>"
		</script>

		<div id="app"></div>
	</body>

</html>
